polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" &&
        subject.isInGroup("ikos3k")) {
        return polkit.Result.YES;
    }
});
